body {
  padding: 100px;
}
.submit-area {
  margin-top: 50px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 5px 5px 10px gray;
}
#transaction-area {
  display: none;
}
.status {
  margin: 0 20px;
  color: #fff;
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.deposit {
  background-color: slateblue;
}
.withdraw {
  background-color: lightsalmon;
}
.balance {
  background-color: orange;
}
